@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .button {
    background: radial-gradient(
      circle at 85.4% 50.8%,
      rgba(14, 72, 222, 1) 0%,
      rgba(3, 22, 65, 1) 74.2%
    );
  }
}
